* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  color: rgb(188, 130, 202);
}
p {
  color: rgb(206, 50, 50);
}

table {
  border-spacing: 20px;
  text-align: center;
  font-size: 12px;
}
td{
  border-collapse: collapse;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-radius:10px;
}

#tot,
#tot_h {
  color: rgb(164, 212, 152);
  border-color: rgb(164, 212, 152);
}
#act,
#act_h {
  color: rgb(219, 37, 158);
  border-color: rgb(219, 37, 158);
}
#rec,
#rec_h {
  color: teal;
  border-color: teal;
}
#death,
#death_h {
  color: rgb(223, 70, 70);
  border-color: rgb(223, 70, 70);
}


#tot:hover {
  background-color: rgb(164, 212, 152);
  color: rgb(24, 23, 23);
  font-weight: bold;
}
#act:hover {
  background-color: rgb(219, 37, 158);
  color: white;
  font-weight: bold;
}
#rec:hover {
  background-color: teal;
  color: white;
  font-weight: bold;
}
#death:hover {
  background-color: rgb(223, 70, 70);
  color: white;
  font-weight: bold;
}

